<%= render 'shared/pinned_header_js' %>

<section id="stream">
<div class="pro-header-b">
<div class="wrapper">
  <a class="pro-img-big">
    <%= profile_image(@user, :big) %>
    <div class="overlap-a"></div>
  </a>
  <div class="block-b">
    <a href="javascript:;" class="header-user">@<%= @user.username %></a>
    <h1><%= @user.full_name %></h1>
    <p><%= @user.description %></p>
  </div>
  <div class="block-c">
    <div>
      <button class="button-a flt-right">Follow</button>
      <img src="/web-assets/images/flag.png" alt="flag" title="flag" width="18" height="16" />
    </div>
    <ul class='contact'>
      <% unless false %>
        <li>
          <img width="11" height="15" src="/web-assets/images/location1.png">
          <span>No user location</span>
        </li>
      <% end %>
      <% unless @user.website.blank? %>
        <li>
          <img width="11" height="15" src="/web-assets/images/location1.png">
          <a href="javascript:;"><%= @user.website %></a>
        </li>
      <% end %>
    </ul>
  </div>
</div>
</div>
<div class='pro-header-d' id='pinned_header'>
  <div class='wrapper'>
    <%= render 'profile_cta' %>
  </div>
</div>

<section id='profile_section_container'>
  <%= render '/shared/photo_list' %>
</section>
</section>
