<% user = @photo.user %>
<% likes_cnt, comments_cnt, fonts_cnt = @photo.likes_count, @photo.comments_count, @photo.fonts_count %>
<% fnts_map = fonts_map_for_comments @comments %>
<% if @perma %>
  <% content_for :head do %>
    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript" src="http://s.sharethis.com/loader.js"></script>
  <% end %>
  <% content_for :custom_js do %>
    <script type='text/javascript'>stLight.options({publisher: "09dd1850-3dce-44cd-9751-1f9b467cfaa2", doNotHash: true, doNotCopy: true, hashAddressBar: false});</script>
    <script>
      var options={ "publisher": "09dd1850-3dce-44cd-9751-1f9b467cfaa2", "position": "right", "ad": { "visible": false, "openDelay": 5, "closeDelay": 0}, "chicklets": { "items": ["facebook", "twitter"]}};
      var st_hover_widget = new sharethis.widgets.hoverbuttons(options);
    </script>
  <% end %>
<% end %>

<div class="popup <%= @open_popup ? 'open' : 'closed' %>">
  <div class="left-pop">
    <div class="bigpic">
      <div class="img-overlay"></div>
      <img src="<%= @photo.url(:large) %>" style="width:480px;height:480px;"/>
      <a href="javascript:;" data-href='<%= show_feed_path %>' class="set4"></a>
      <a href="javascript:;" data-href='<%= show_feed_path %>' class="set5"></a>
    </div>

    <ul class="set1 icons">
      <% (['a', 'b', 'c']).each do |char| %>
      <li class="set1-<%= char %> <%= 'login-req' unless logged_in? %>">
        <i></i>
        <div class="hover"></div>
      </li>
      <% end %>
    </ul>
    <ul class="set1">
      <li class='set1-cross'>
        <a href='javascript:;' class='cross'></a>
      </li>
    </ul>

    <ul class="set3">
      <li class="profile-name">
        <span><%= user.display_name %></span>
      </li>
      <li class="profile-dialog">
        <span><%= truncate(@photo.caption, :length => 100) %></span>
      </li>
      <li class="profile-detail">
        <%= photo_details_li %>
      </li>
    </ul>
    <% if @photo.fonts_count > 0 %>
    <% fnt = @photo.fonts.desc(:agrees_count).first %>
    <div class="set3b">
      <img src='<%= fnt.img_url %>' width="350px" />
      <span class='pop-disclaimer'>
        <%= fnt.display_name %>
        <%= pluralize(fnt.agrees_count, 'Agree') %>
        <img src="/web-assets/images/heartsmall.png" width="22" height="20" alt="like" title="like" />
      </span>
    </div>
    <% end %>
  </div>

  <div class="right-pop">
    <header>
      <span class='header-title'>Typetalk</span>
      <a href="javascript:;" class="collapse flt-left"></a>
      <a href="javascript:;" class="cross flt-right"></a>
      <!--  <a href="javascript:;" class="settings flt-right"></a> -->
    </header>
    <div class="content-a">
      <a class="propic <%= 'login-req' unless logged_in? %>" href="<%= profile_path(:user_id => user.id) %>">
        <img src="<%= user.url(:thumb) %>">
      </a>
      <ul>
        <li class="a">
          <a class="<%= 'login-req' unless logged_in? %>" href="<%= profile_path(:user_id => user.id) %>">
            <span class="name"><%= user.username %></span>
          </a>
          <span class="time"><%= timestamp(@photo.created_at) %></span>
        </li>
        <li class="b">
          <span><%= @photo.caption %></span>
        </li>
        <li class="c">
          <a href="#"></a>
        </li>
        <li><a href="#"><img src="/web-assets/images/myfont.png" /></a></li>
      </ul>
    </div>
    <div class="like-box pop-nav">
      <a class='view-likes' href="javascript:;">
        <%= pluralize(likes_cnt, 'like') %>
      </a>
      <a class='view-typetalk strong' href="javascript:;">
        <%= pluralize(comments_cnt, 'comment') %>
      </a>
      <a class='view-spotted' data-url='<%= feed_fonts_path(:id => @photo.id) %>' href="javascript:;">
        <%= pluralize(fonts_cnt, 'spotting') %>
      </a>
      <a href="javascript:;" class="like <%= 'login-req' unless logged_in? %>">
        <img src="/web-assets/images/heartsmall.png" />
      </a>
      <a href="javascript:;" class="like spot <%= 'login-req' unless logged_in? %>">
        <img src="/web-assets/images/Spot-Selected.png" />
      </a>
    </div>

    <div class="like-box spot-search hidden">
      <input type="text" name="spot-search" placeholder="search..."  style="color:#666" />
    </div>
    <div class="like-box spot-preview hidden">
      <input type="text" name='spot-preview' placeholder="Type preview text..."  style="color:#666" />
    </div>
    <ul class="auto-suggestion hidden">
    </ul>

    <div class="aa-spotted content content-b" style="display:none;"></div>
    <div class="aa-likes content content-b" style="display:none;">
      <%= render 'liked_pop' %>
    </div>
    <div class="aa-typetalk content content-b">
      <div class="comment-box clr">
        <% @comments.each do |c| %>
          <% u = @users_map[c.user_id].first %>
          <%= render 'shared/comment_content', :c => c, :u => u, :fnts_map => fnts_map %>
        <% end %>
      </div>
    </div>
    <div class="bottom-nav <%= 'hidden' unless logged_in? %>">
      <form action="<%= socialize_feed_path(@photo.id, :modal => 'comment') %>" class='comment-form'>
        <input type="text" name="comment" placeholder="Your Comment..." autocomplete='off' />
      </form>
    </div>
  </div>
</div>
