<% desc1_index = @details[:desc].index('</p>') %>
<% desc1 = @details[:desc].first(desc1_index) %>
<% desc2 = @details[:desc][(desc1_index+4)..-1] %>
<section id="stream">
<div class="font-details">
  <div class="wrapper">
    <div class="left-panel">
      <span><%= @details[:owner] %></span>
      <h1><%= @details[:name] %></h1>
      <%= desc1.html_safe %>
      <div class='desc2 hidden'><%= desc2.html_safe %></div>
      <% unless desc2.blank? %>
        <a href="javascript:;" class="font-desc-view-more">View more</a>
      <% end %>
    </div>
    <div class='right-panel'>
      <img src="<%= @details[:image] %>" width="290" height="auto" />
      <span><%= @details[:name] %></span>
    </div>
  </div>
</div>
<div class="pro-header-d">
  <div class="wrapper">
    <ul class="float-Lt">
      <li class="selected">
        <a href="javascript:;"><%= @photos.length %> Post</a>
      </li>
      <li>
        <a href="javascript:;"><%= @font.favs_count %> Favourite</a>
      </li>
    </ul>
    <div class="float-Rt">
      <a href="<%= @details[:font_url] %>" target="_blank">
        <span>Buy at</span>
        <img src="/web-assets/images/myfont.png" width="76" height="39" alt="My Fonts" title="My Fonts" />
      </a>
    </div>
  </div>
</div>
<section>
  <%= render '/shared/photo_list' %>
</section>
</section>
