<ul class="nav">
  <li class="<%= 'active' if params[:action] == 'index' %>">
    <a href="/admin">Home</a>
  </li>
  <li class="<%= 'active' if params[:action] == 'users' %>">
    <a href="/admin/users">Users</a>
  </li>
  <li class="<%= 'active' if params[:action] == 'photos' %>">
    <a href="/admin/photos">Photos</a>
  </li>
  <li class="dropdown <%= 'active' if params[:action] =~ /flagged/ %>" id="menu1">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">Flagged Content <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href='/admin/flagged_users'>Users</a></li>
      <li><a href='/admin/flagged_photos'>Photos</a></li>
    </ul>
  </li>
  <li class="<%= 'active' if params[:action] == 'sos' && params[:req] != 'true' %>">
    <a href="/admin/sos">SoS photos</a>
  </li>
  <li class="<%= 'active' if params[:action] == 'sos' && params[:req] == 'true' %>">
    <a href="/admin/sos?req=true">SoS Requested</a>
  </li>
  <li class="<%= 'active' if params[:action] == 'suspended_users' %>">
    <a href="/admin/suspended_users">Suspended Users</a>
  </li>
</ul>
