<ul class="nav">
  <li class="<%= 'active' if params[:action] == 'index' %>">
    <a href="/admin">Home</a>
  </li>
  <% # Can refactor all these dropdown options as nav_dropdown helper method %>
  <li class="dropdown <%= 'active' if [:users, :suspended_users].include?(params[:action].to_sym) %>" id="menu1">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">Users <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="/admin/users">All</a></li>
      <li><a href="/admin/suspended_users">Suspended</a></li>
      <li><a href="/admin/users_statistics">Statistics</a></li>
      <li><a href="/admin/top_contributors">Top Contributors</a></li>
    </ul>
  </li>
  <li class="dropdown <%= 'active' if params[:action] == 'photos' %>" id="menu2">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#menu2">Photos <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href='/admin/photos'>All</a></li>
      <li><a href='/admin/photos?home=true'>For homepage</a></li>
    </ul>
  </li>
  <li class="dropdown <%= 'active' if params[:action] == 'collections' %>" id="menu6">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#menu6">Collections <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href='/admin/collections'>View List</a></li>
      <li><a href='/admin/photos_list_for_collection'>Add Photos</a></li>
    </ul>
  </li>
  <li class="dropdown <%= 'active' if params[:action] == 'sos' %>" id="menu3">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#menu3">SoS <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href='/admin/sos'>Approved</a></li>
      <li><a href='/admin/sos?req=true'>Requested</a></li>
    </ul>
  </li>
  <li class="dropdown <%= 'active' if params[:action] =~ /^popular_.*$/ %>" id="menu4">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#menu4">Popular Content <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href='/admin/popular_users'>Users</a></li>
      <li><a href='/admin/popular_photos'>Photos</a></li>
      <li><a href='/admin/popular_fonts'>Fonts</a></li>
    </ul>
  </li>
  <li class="dropdown <%= 'active' if params[:action] =~ /^flagged_.*$/ %>" id="menu5">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#menu5">Flagged Content <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href='/admin/flagged_users'>Users</a></li>
      <li><a href='/admin/flagged_photos'>Photos</a></li>
    </ul>
  </li>
</ul>
