<% content_for :custom_js do %>
  $('#update_stat_link').live('click', function(e) {
    $(this).hide();
    $('#update_stat_cancel').show();
    $('#update_stat_form .submit').show();
    $('#status').html('');
    $('#update_stat_form').slideDown();
  });

  $('#update_stat_form').live('ajax:before', function(e) {
    $('#status').html('Updating...');
    $('#update_stat_cancel').hide();
    $('#update_stat_form .submit').hide();
  });

  $('#update_stat_form').live('ajax:success', function(data, status, xhr) {
    $('#app_version').html(data['app_version']);
    $('#app_version').fadeIn();
    $('#status').html('Updated.');
    $('#update_stat_form').hide();
  });

  $('#update_stat_cancel').live('click', function(e) {
    $('#update_stat_form').hide();
    $('#update_stat_link').show();
  });
<% end %>

<%= render 'flash_notices' %>

<h3>App Stats</h3>
<ul>
  <li>Total Users: <%= link_to @users_count, '/admin/users' %></li>
  <% new_users_count = User.where(:created_at.gte => Time.now.beginning_of_month).count %>
  <li>New users since <%= Time.now.beginning_of_month %>: <%= new_users_count %></li>
  <% users_in_past_30_days = User.where(:created_at.gte => 30.days.ago).count %>
  <li>New users in past 30 days: <%= users_in_past_30_days %></li>
  <% users_with_photos = Photo.distinct(:user_id).count %>
  <li>Users with atleast one photo: <%= users_with_photos %></li>
  <li>Total Photos: <%= link_to @fotos_count, '/admin/photos' %></li>
  <li>Homepage Photos: <%= link_to @homepage_fotos_count, '/admin/photos?home=true' %></li>
  <li>
    App Version: <span id="app_version"><%= @stat.app_version %></span>&nbsp;&nbsp;
    <%= link_to 'Change', 'javascript:void(0);', :id => 'update_stat_link' %>
    <%= form_tag '/admin/update_stat', :id => "update_stat_form", :method => "post", :class => "form-inline", :style => "display:none; margin-top:10px;" do %>
      <input class="span1" name="version" type="text" size="10" value='<%= @stat.app_version %>' />
      <input type="submit" class="submit btn btn-primary" value="Update" />
      <%= link_to 'Cancel', 'javascript:void(0);', :id => 'update_stat_cancel' %>
    <% end %>
    <span id="status">&nbsp;</span>
  </li>
</ul><br/>

<h3>Backend Stats</h3>
<ul>
  <% @stat.misc_attrs.each do |k, v| %>
    <li><%= k.humanize %>: <%= link_to v, 'javascript:;' %></li>
  <% end %>
</ul><br/>

<h3>Utilities</h3>
<ul>
  <li><%= link_to 'Send Push notifications', '/admin/send_push_notifications' %> to all users.</li>
</ul>
