<h3><%= @title || 'Photos' %> <span class="badge badge-info"><%= @fotos_cnt || @fotos.length %></span> </h3>

<form class="well form-search">
  <input type="hidden" name='req' value='<%= params[:req] %>' />
  <input type="text" name='search' value='<%= params[:search]%>' class="input-medium search-query">
  <button type="submit" class="btn">Search</button>
</form>

<%= render 'flash_notices' %>

<table class='table table-striped table-condensed'>
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Image</th>
      <th><%=sortable("caption")%></th>
      <th><%=sortable("likes_count","Likes")%></th>
      <th><%=sortable("comments_count","Comments")%></th>
      <th><%=sortable("fonts_count","Fonts")%></th>
      <th><%=sortable("flags_count","Flags")%></th>
      <th>Username</th>
      <th><%=sortable("created_at","Created")%></th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @fotos.each_with_index do |f, i| %>
    <tr id='foto_<%= f.id.to_s %>'>
      <td><%= (@page - 1) * @lmt + i + 1 %></td>
      <td>
        <a href='/<%= f.perma %>' target='_new'>
          <img src='<%= f.url_medium %>' />
        </a>
      </td>
      <td><%= f.caption %></td>
      <td><%= f.likes_count %></td>
      <td><%= f.comments_count %></td>
      <td><%= f.fonts_count %></td>
      <td><%= f.flags_count %></td>
      <td><%= f.user.username rescue 'User Flagged' %></td>
      <td><%= f.created_dt %></td>
      <td>
        <% if @approve_sos %>
          <%= link_to('Approve SoS', '/admin/approve_sos?photo_id='+f.id.to_s, :remote => true) %>
        <% end %>
        <% if @unflag_photo %>
          <%= link_to('Unflag', '/admin/unflag_photo?id='+f.id.to_s, :remote => true) %>
        <% end %>
        <% if @delete_photo %>
          <%= link_to('Delete', '/admin/delete_photo?id='+f.id.to_s, :remote => true, :confirm => 'Are you sure?') %>
        <% end %>
        <% if @select_photo && !f.show_in_homepage? %>
          <%= link_to('Select', '/admin/select_photo?id='+f.id.to_s, :remote => true, :title => 'Select for homepage') %>
        <% end %>
        <% if @unselect_photo && f.show_in_homepage? %>
          <%= link_to('Unselect', '/admin/select_photo?id='+f.id.to_s+'&select=false', :remote => true) %>
        <% end %>
        <% if @reject_header %>
          <% lnk_text = f.reject_in_header ? 'Show Header' : 'Reject Header' %>
          <% reject_param = "&reject=#{!f.reject_in_header}" %>
          <%= link_to(lnk_text, '/admin/reject_header?id='+f.id.to_s+reject_param+'&modal=Photo', :remote => true) %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<% if params[:search].to_s.blank? %>
<% extra_params = params[:req].blank? ? '' : "&req=#{params[:req]}" %>
<ul class='pager'>
  <li class='previous <%= 'disabled' if @page == 1 %>'>
    <a href='/admin/<%= params[:action] %>?page=<%= @page - 1 %><%= extra_params %>'>&larr; Previous</a>
  </li>
  <li class='next <%= 'disabled' if @page >= @max_page %>'>
    <a href='/admin/<%= params[:action] %>?page=<%= @page + 1 %><%= extra_params%>'>Next &rarr;</a>
  </li>
</ul>
<% end %>
