<% unless section == 'profile-post' %>
  <a href="<%= profile_path(:user_id => u.id) %>" class="profile-img">
    <img width="50" height="50" alt="profile-image" src="<%= u.url_thumb %>" />
    <div class="overlap"></div>
  </a>
<% end %>
<ul>
  <% unless section == 'profile-post' %>
    <li class="profile-name">
      <span><%= u.username %></span>
    </li>
  <% end %>
  <li class="profile-detail popitup">
    <%= photo_details_li(f) %>
  </li>
  <% unless f.address.blank? %>
    <li class="profile-location">
      <span><%= f.address %></span>
    </li>
  <% end %>
</ul>
