<a href="<%= profile_path(:user_id => u.id) %>" class="profile-img">
  <img src="<%= u.url_thumb %>" />
</a>
<div class="overlap"></div>
<ul>
  <li class="profile-name">
    <span><%= u.username %></span>
  </li>
  <li class="profile-detail">
    <%= photo_details_li(f) %>
  </li>
  <li class="profile-location">
    <img width="11" height="15" src="/web-assets/images/location1.png" alt="location" title="location">
    <span><%= f.address %></span>
  </li>
</ul>
