<section id="secondaryHeader">
<div class="wrapper">
  <blockquote>
    <a class="avatar"><img src="<%= @story.avatar %>" width="73" height="71" /></a>
    <p>
      <%= @story.text %> <br />
      <cite><%= @story.name %></cite>
      <a class='storify-link' href="http://storify.com" target='blank'>Powered by Storify</a>
    </p>
  </blockquote>
  <aside>
    <button id="join_fontli" href="<%= signup_path(:default) %>">
      <span>Join <%= User.count %> nerds...</span>
    </button>
  </aside>
</div>
</section>

<section id="banner" class="big">
<div class="wrap">
  <div id="slider1" class="slider">
    <ul>
      <% @popular.each do |p| %>
      <li data-id='<%= p.id %>' href='<%= show_feed_path %>' rel='popitup'>
        <div>
          <img src="<%= p.url(:medium) %>" />
        </div>
      </li>
      <% end %>
    </ul>
  </div>
  <%= render 'shared/controls' %>
</div>
</section>
