<% content_for :pre_content do %>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=113587155421623";
      fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <div id='qr_pop' style='background:none repeat scroll 0 0 rgba(0, 0, 0, 0.8);position:absolute;z-index:10;display:none;width:100%;height:100%'>
    <%= render 'shared/qr_popup' %>
  </div>
<% end %>
<% content_for :custom_js do %>
  photoIds = <%= @popular.collect(&:id).to_json.html_safe %>;
<% end %>

<section id="secondaryHeader">
<div class="wrapper">
  <blockquote>
    <a class="avatar"><img src="<%= @story.avatar %>" width="73" height="71" /></a>
    <p>
      <%= @story.text %> <br />
      <cite><%= @story.name %></cite>
      <a class='storify-link' href="http://storify.com" target='blank'>Powered by Storify</a>
    </p>
  </blockquote>
  <aside>
    <% if false %><button id="join_fontli" href="<%= signup_path(:default) %>"><% end %>
    <button style='cursor:default;'>
      <span>+<%= User.count %> nerds...</span>
    </button>
    <div class="share" style='margin-top:10px;'>
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.fontli.com" data-text="@fontli, Fontli- discover and share pure type love!" style='margin-bottom:-3px;'>Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      <div class="fb-like" data-href="http://www.fontli.com/" data-send="false" data-layout="button_count" data-show-faces="false" style="margin-top:-2px;"></div>
    </div>
  </aside>
</div>
</section>

<section id="banner" class="big">
<div class="wrap">
  <div id="slider1" class="slider">
    <ul>
      <% @popular.each do |p| %>
      <li data-id='<%= p.id %>' href='<%= show_feed_path %>' rel='popitup'>
        <div style='background: url(<%= p.url(:medium) %>) no-repeat; width:305px;height:305px;'>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
  <%= render 'shared/controls' %>
</div>
</section>
