<!DOCTYPE html> 
<html> 
  <head>
    <title>Fontli - discover and share pure type love!</title>
    <meta content="charset=utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0,maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="target-densitydpi=device-dpi">
    <meta name="apple-mobile-web-app-status-bar-style" content="translucent-black" />
    <meta name="description" content="Fontli lets designers and Type enthusiasts to discover fonts and great Typography. Using Fonli you can capture interesting Typography from everyday life and share it with a vibrant community of type lovers." />

    <link rel="image_src" type="image/jpeg" href="<%= @obj.url_thumb %>" />
    <link rel="apple-touch-icon" href="/perma-assets/images/icon.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/perma-assets/images/ipad.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/perma-assets/images/Icon4.png" />
    <link rel="stylesheet"  href="/perma-assets/css/app.css"  media="screen" />
    <!--[if IE]><link rel="stylesheet" type="text/css"  href="/perma-assets/css/ie.css"/><![endif]-->
    <style type="text/css">
      div.share { margin-bottom: 10px; }
      .twitter-share-button { vertical-align: bottom; }
    </style>
  </head>

  <body>
    <% top_fnts = @obj.fonts.where(:pick_status.gt => 0).limit(3).to_a %>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=113587155421623";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <div id="wrapper">
      <div id="header">
        <h1><a href="http://www.fontli.com">Fontli</a></h1>
      </div> 
      <div class="clear">
        <div id="content">
          <div id="vignette">
            <img src="<%= @obj.url %>" alt="<%= @obj.data_filename %>" />
          </div>

        </div>
        <div id="sidebar">
          <div id="profile" class="clear">
            <img src="<%= @user.url_thumb %>" class="float_left" />
            <div>
              <h3><%= @user.username %></h3>
              <p><span><%= @user.photos_count %></span>Clicks</p>
              <p><span><%= @user.followers_count %></span>Followers</p>
              <p><span><%= @user.follows_count %></span>following</p>
            </div>

          </div>
          <p class="clear_both"><%= truncate(@obj.caption, :length => 250, :separator => '') %></p>
          <div id="font_listing">
            <p id="useraction"><span class="likes"><%= @obj.likes_count %> Likes</span><span class="comment"><%= @obj.comments_count %> comment</span></p>
            <p class="bold font_icon"><%= @obj.fonts_count %> Fonts tagged<%= ', top picks;' if top_fnts.length > 0 %></p>

            <% top_fnts.each do |fnt| %>
              <div class="font">
                <h4><%= fnt.family_name %></h4>
                <p><%= 'Expert' if [1, 3].include?(fnt.pick_status) %> <%= 'and' if fnt.pick_status == 3 %> <%= "#{@user.username}'s" if fnt.pick_status > 1 %> pick</p>
                <div class="font_area">
                  <h1><p style="background-image: url(<%= fnt.img_url %>)"><%= fnt.family_name %></p></h1>
                </div>
              </div>
            <% end %>

          </div>
        </div>
      </div>


      <div id="hello_fontli">
        <h1><p>Say hello to fontli,</p>

          <p>discover & share typography around you</p> </h1>

        <h1><a href="#" ><img src="/perma-assets/images/appstore.png" alt="appstore" title="Fontli - available in Appstore" /></a></h1>
      </div>

      <div class="share" style="margin-bottom: 10px;">
        <a href="https://twitter.com/share" class="twitter-share-button" data-text="@fontli, Fontli- discover and share pure type love!">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        <div class="fb-like" data-send="false" data-layout="button_count" data-show-faces="false"></div>
      </div>

      <div id="copyright">
        <p>Fontli is the proud creation of <a href="http://www.imaginea.com">Imaginea</a> for scoops and inside stories visit our <a href="http://blog.imaginea.com/">blog</a> You can also follow us <a href="http://www.twitter.com/fontli">@fontli</a>. we all tucked in all the <a href="#">Legal Stuff</a> here. Have questions..? we tried to answer some <a href="#">here</a></p>

        <p>Copyright 2011, Pramati Technologies</p>
      </div>
    </div>

  </body>
</html>
