<%= signup_welcome_note %>

<h3>Register</h3>

<%= errors_for @user %>

<%= form_for @user, :url => signup_path(params[:platform] || :default), :html => {:id => 'signup_form'} do |f| %>

  <%= hidden_user_detail_tags(f) %>

  <label>Username</label>
  <%= f.text_field :username, :required => true %>

  <label>Full Name</label>
  <%= f.text_field :full_name %>

  <label>Email</label>
  <%= f.email_field :email, :required => true %>

  <label>Password</label>
  <%= f.password_field :password, :required => true %>

  <label>Confirm Password</label>
  <%= f.password_field :password_confirmation %>

  <% if params[:platform] == 'default' %>
    <label>Avatar</label>
    <%= f.file_field :avatar, :accept => 'image/*' %>
  <% end %>

  <label>Description</label>
  <%= f.text_area :description, :placeholder => 'Optional (120 chars max.)' %>

  <label>Website</label>
  <%= f.url_field :website, :placeholder => 'Optional' %>

  <div class='submit'>
    <button type="submit" value="signin">Register</button>
    <div class='cta'>
      <%= link_to 'Cancel', login_path(:default) %>
    </div>
    <div class='clear'></div>
  </div>
<% end %>
<div class='clear'></div>
