<% recnt_frnd = @users_map[feeds.first.follower_id].first %>
<% last_frnd = @users_map[feeds.last.follower_id].first %>
<li class="follow">
  <div class="text">
    <a class="author" href="profile:<%= uid %>"><%= @users_map[uid].first.username %></a> started following <a class="author" href="profile:<%= recnt_frnd.id %>"><%= recnt_frnd.username %></a> <%= "and <a class='author' href='profile:#{last_frnd.id}'>#{last_frnd.username}</a>".html_safe if feeds.length == 2 %> <%= "and #{feeds.length - 1} other(s)" if feeds.length > 2 %>
  </div>
  <div class="clearfix">
    <% feeds.each do |flw| %>
      <img class="ref-usr" src="<%= @users_map[flw.follower_id].first.url_thumb %>" />
    <% end %>
  </div>
  <div class="timestamp"><%= timestamp(feeds.first.created_at) %></div>
</li>
