<% com = n.notifiable %>
<li class="comment">
  <img class="ref-img" src='<%= com.photo.url(:thumb) %>' />
  <div class="text">
    <a class="author" href="profile:<%= n.from_user_id %>"><%= n.from_user.username %></a> commented on your post: <span class="content"><%= com.body %></span>
  </div>
  <div class="timestamp"><%= timestamp(n.updated_at) %></div>
</li>
