<% font = Font[n.extid] %>
<% foto = font.photo %>
<% taggd_usrs = font.recent_tagged_unames %>
<% taggd_cnt = font.tags_count - taggd_usrs.length %>
<% septr = (taggd_usrs.length == 2 ? 'and ' : ', ') %>
<li class="tag">
  <a href="http://openphoto/<%= foto.id.to_s %>"><img class="ref-img" src='<%= foto.url(:thumb) %>' /></a>
  <div class="text">
    <%= taggd_usrs.collect do |uname|
      "<a class='author' href='http://openprofile/#{uname}'>#{uname}</a>"
    end.join(septr).html_safe %><%= "and #{pluralize(taggd_cnt, 'other')}" if taggd_cnt > 0 %>tagged <span class="content"><strong><%= font.family_name %></strong></span> on your <a href="http://openphoto/<%= foto.id.to_s %>">post</a>
  </div>
  <div class="timestamp"><%= timestamp(n.updated_at) %></div>
</li>
