<% foto = Photo[n.extid] %>
<% foto.populate_liked_commented_users(:only_likes => true) %>
<% lkd_usrs = foto.liked_user.split('||') %>
<% lks_cnt = foto.likes_count - lkd_usrs.length %>
<% septr = (lkd_usrs.length == 2 ? ' and ' : ', ') %>
<li class="like">
  <a href="OpenPhoto://<% foto.id.to_s %>"><img class="ref-img" src='<%= foto.url(:thumb) %>' /></a>
  <div class="text">
    <% lkd_usrs.collect do |uname| %>
      <a class="author" href="profile:<%= uname %>"><%= uname %></a>
    <% end.join(septr).html_safe %><%= "and #{pluralize(lks_cnt, 'other')}" if lks_cnt > 0 %>liked your <a href="OpenProfile://<% foto.id.to_s %>">post</a>
  </div>
  <div class="timestamp"><%= timestamp(n.updated_at) %></div>
</li>
